extends base
block content
    section.not_found_container
        div.flex
            h1 404, Not Found 
            p  God damn, The page that you're looking for does not exists. Maybe it has been removed or you entered the address wrongly! 
                | check the address or use the button below and go back to the home page.
            a(href="/") Home Page 