footer.flex
    div.links
        a(href="#")  Privacy and Policy
        |
        a(href="#") Terms and Conditions
        |
        a(href="#") F&Q
    div.copyright   
        span All rights reserved ©Ticketify 2021
    div.socials.flex
        a(href="#")
            i.bi-telegram
        a(href="#")
            i.bi-twitter
        a(href="#")
            i.bi-instagram

