extends base
block content
    main.login-up-container.flex
        div.container.flex#change-password
            form.flex(action="#",method="POST")#change-password-form
                p Please enter your new password
                input(type="password", name="password",placeholder="Enter your nwe password" value=email)
                input(type="confirmPassword", name="confirmPassword",placeholder="re-Enter your new password" value=email)
                input(type="submit", name="submit" value="Change Password")