extends base
block content
    main.login-up-container.flex
        div.container.flex#reset-password
            form.flex(action="/user/resetpassword/",method="POST")#reset-password-form
                p Please enter your email below in order to reset your password
                input(type="email", name="email",placeholder="Enter your email" value=email)
                input(type="submit", name="submit" value="Send reset link")